<% layout('layouts/boilerplate') %> 
    <div id="container">
        <div id="campground-card">
            <img  id="camp" src="<%= campground.image %> ">
        </div>
    </div>
    <h2><%= campground.name %> </h2>
    <h2><%= campground.location %> </h2>
    <img src="<%= campground.image %> ">
    <h3><%= campground.price %> </h3>
    <p><%= campground.description %> </p>
    <h3><a href="/campgrounds/<%= campground.id %>/edit ">Edit campground</a></h3>
    <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
        <button>Delete Campground</button>
    </form>
    <h3><a href="/campgrounds">Show all campgrounds</a></h3>
