<% layout('layouts/boilerplate') %> 
    <div id="show-container">
        <div id="show-campground-card">
            <img  id="show-campground-image" src="<%= campground.image %> ">
            <div id="show-campground-card-body">
                <h1 id="show-campground-name">
                    <%= campground.name %> 
                </h1>
                <h2 id="show-campground-location">
                    <%= campground.location %> 
                </h2>
                <h3 id="show-campground-price">
                    $ <%= campground.price %> 
                </h3>
                <p id="show-campground-description">
                    <%= campground.description %>
                </p>
                <a href="/campgrounds/<%= campground.id %>/edit ">
                    <button id="show-edit-campground-button">
                        Edit Campground
                    </button>
                </a>
                <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
                    <button id="show-delete-campground-button">
                        Delete Campground
                    </button>
                </form>
                <form action="/campgrounds/<%= campground.id %>">
            </div>
                    <label for="review-body" id="review-label">
                        Write a review
                    </label>
                    <textarea rows="5" cols="10" name="campground[review]" id="review-body">
                    </textarea>
                </form>
            </div>
        </div>
    </div>