<% layout('layouts/boilerplate') %> 
    <div id="container">
        <div id="campground-card">
            <img  id="show-campground-image" src="<%= campground.image %> ">
            <div id="campground-card-body">
                <h1>
                    <%= campground.name %> 
                </h1>
                <h2>
                    <%= campground.location %> 
                </h2>
                <h3>
                    <%= campground.price %> 
                </h3>
                <p>
                    <%= campground.description %>
                </p>
            </div>
        </div>
    </div>
    
    
    
    <h3><a href="/campgrounds/<%= campground.id %>/edit ">Edit campground</a></h3>
    <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
        <button>Delete Campground</button>
    </form>
    <h3><a href="/campgrounds">Show all campgrounds</a></h3>
